.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
.env
.env.backup
database/database.sqlite
*.md
.vscode
.idea
